<!-- just want the header, so just up to <body> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node & Express Demo</title>
    <style media="screen">
    *{
      background-color: lightblue
    }
    </style>
  </head>
  <body>
