<%- include('./partials/header') %>

<h1> Node & Express Demo </h1>

<%# path starts after `public` folder%>
<%#
Directory: `${__dirname)/public/images/`
URL: `http://localhost:4545/images/business_shibe.jpg`
%>
<img src="/images/business_shibe.jpg" alt="">

<%- include('./partials/footer') %>
